

.fa-inverse {
    color: #202020;
}

#nav-search-input:focus {
    box-shadow: none;
}

code {
    color: #fff;
}

pre {
    border-radius: 0;
}

.box-note,
.box-warning,
.box-error
 {
    color: #161616;
}

.pagination .page-item .page-link {
    background-color: #202020;
}

.pagination .page-item .page-link:hover {
    color: #202020;
}

table {
    color: #161616;
}

.post-preview .post-meta,
.post-heading .post-meta {
    color: gainsboro;
}

.splash-image {
    width: 100%;
    text-align: center;
    padding-top: 0vh;
    background: linear-gradient(#161616 58%, #282828 42%);
}

.top-label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: whitesmoke;
    font-weight: 600;
    font-size: 32pt;
    padding: 0.8%;
    background-color: #161616;
    text-align: center;
    text-shadow: #080808 2px 2px;
}

.home-links {
    font-size: 125px;
    filter: drop-shadow(5px 5px 0px #171717);
    width: 100%;
    text-align: center;
}

.home-links .fab,
.home-links .fas {
    color: whitesmoke;
    transition: transform .2s;
    transition-timing-function: cubic-bezier(0.39, 0.9, 0.97, 2);
}

.home-links .fab:hover,
.home-links .fas:hover
 {
    transform: scale(1.1);
}

.fa-youtube:hover {
    color: #FF0000;
}

.fa-discord:hover {
    color: #7289da;
}

.fa-github:hover {
    opacity: 0.7;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-patreon:hover {
    color: #FF424D;
}

.fa-envelope:hover {
    color: #d2b646;
}

@media only screen and (max-width: 1200px) {
    .home-links {
        font-size: 12vw;
    }
}

